body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 100px;
}

.odinRecipes {
    display: block;
    margin:auto;
    width: 20%;
}

.recipes {
    padding: 50px;
}

.recipeList {
    padding-left: 50px;
}

li::marker {
    color: darkgoldenrod;
}